@model WebMarket.ViewModel.Admin.Setting.SlideShowDataEntry

@{
    ViewBag.Title = "افزودن اسلاید شو";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var notAllowAdd = ViewBag.AllowAddSlide != null && ViewBag.AllowAddSlide == "noAllow";
}


@if(notAllowAdd)
{
    <div class="col-md-12 alert alert-warning text-center">
        <h4>به دلیل بارگزاری هرچه سریع تر صفحه اول سایت، شما قادر هستید حداکثر 10 تصویر برای اسلایدشو درج کنید</h4>
    </div>
}
else
{
    using(Html.BeginForm(MVC.Admin.Setting.AddSlide(), FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "formSlideShow" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.BigTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.BigTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BigTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SmallTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.SmallTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SmallTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    <input type="file" class="filestyle" data-icon="true" name="uploadImage" id="uploadImage" accept=".jpg, .jpeg, .gif, .png" placeholder="اندازه تصویر بهتر است  377* 1400 باشد">
                    اندازه تصویر بهتر است  377 * 1400 باشد
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت اسلایدر" class="btn  btn-success" />
            </div>
        </div>

    }
}
@section Script{
    <script src="@Url.Content( "~/Scripts/AjaxForm/jquery.form.min.js" )"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-filestyle.min.js" )"></script>
    <script>
        $("#formSlideShow").ajaxForm();


        //var _URL = window.URL || window.webkitURL;
        //$("#file").change(function (e) {
        //    var file, img;
        //    if ((file = this.files[0])) {
        //        img = new Image();
        //        img.onload = function () {
        //            alert(this.width + " " + this.height);
        //        };
        //        img.src = _URL.createObjectURL(file);
        //    }
        //});
    </script>
}

