@model WebMarket.ViewModel.User.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Url{

    <a href=@Url.Action(MVC.Home.Index())>صفحه اصلی</a><li><span class="icon-chevron-right"></span></li><a href=@Url.Action(MVC.Account.Login())>ورود</a><li><span class="icon-chevron-right"></span></li><a href=@Url.Action(MVC.Account.ForgotPassword())>بازیابی کلمه عبور</a>
}




@using (Html.BeginForm(MVC.Account.ForgotPassword(),
                          FormMethod.Post,
                          new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2 class="title-area">بازیابی کلمه عبور </h2>
    @Html.ValidationSummary(true, "", new { Style = "Color:Red" })

    if (@ViewBag.MassegeFail != null)
    {
        <div class="alert in fade">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @ViewBag.MassegeFail
        </div>
    }

    if (@ViewBag.MassegeSuccess != null)
    {
        <div class="alert alert-success in fade">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @ViewBag.MassegeSuccess
        </div>
    }


    <div class="control-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="control-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-large bold" value="ارسال لینک" style="margin-right:160px;width:100px;height:40px;" />
        </div>
    </div>
    <hr/>
}

