@model WebMarket.ViewModel.User.Account.LoginViewModel

@{
    ViewBag.Title = "ورود به سایت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Url{

    <a href=@Url.Action(MVC.Home.Index())>صفحه اصلی</a><li><span class="icon-chevron-right"></span></li><a href=@Url.Action(MVC.Account.Login())>ورود</a>
}


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2 class="title-area">ورود به سایت </h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr />
    <div class="control-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            @Html.LabelFor(m => m.RememberMe, new { @for = "RememberMe", @style="float:right" })
            @Html.CheckBoxFor(m => m.RememberMe, new { @style="margin-right:70px"  })

        </div>
    </div>
    <div class="control-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-success push-down-10" style="margin-right:160px;  width: 100px;height: 40px;" />
        </div>
    </div>
    <div class="fcontrol-group">
        @Html.ActionLink("ثبت نام جدید؟", @MVC.User.Add())
    </div>
    <div class="fcontrol-group">
        @Html.ActionLink("رمز عبور را فراموش کرده اید؟", "ForgotPassword")
    </div>
}
<hr />
<div class="col-md-4">
    <section id="socialLoginForm">
        @*   @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
    </section>
</div>
